<mat-card class="card">
  <div class="progress" style="float: right; padding: 20px 25px 10px 1px">
    <mat-progress-spinner
      mode="determinate"
      value="75"
      diameter="94"
    ></mat-progress-spinner>
  </div>
  <mat-card-title>
    <h2>{{ cardTitle }}</h2>
  </mat-card-title>
  <mat-card-subtitle style="color: blueviolet">
    <h4>{{ CardSubtitle }}</h4>
  </mat-card-subtitle>
  <mat-card-content>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit ipsum
      inventore pariatur facilis velit fugiat.
    </p>
  </mat-card-content>
  <mat-card-footer>
    <ul class="icons">
      <li>
        <a href="#"><mat-icon aria-hidden="false">list</mat-icon></a>
      </li>
      <li>
        <a href="#"><mat-icon>calendar_today</mat-icon></a>
      </li>
      <li>
        <a href="#"><mat-icon>perm_identity</mat-icon></a>
      </li>
      <li>
        <a href="#"><mat-icon>share</mat-icon></a>
      </li>
      <li><a href="#"></a></li>
      <li><a href="#"></a></li>
    </ul>
  </mat-card-footer>
</mat-card>
