<div class="container">
  <div class="toolbar">
    <mat-toolbar>
      <span> Home Component</span>
    </mat-toolbar>
  </div>
  <div class="tabs">
    <mat-tab-group animationDuration="150ms">
      <mat-tab label="In Progress">
        <div class="card-container">
          <div class="card-row">
            <div class="cards">
              <app-card
                *ngFor="let card of obs | async"
                [cardTitle]="card.title"
                [CardSubtitle]="card.subtitle"
              ></app-card>
            </div>
          </div>
          <mat-paginator pageSize="8" showFirstLastButtons></mat-paginator>
        </div>
      </mat-tab>
      <mat-tab label="Stand-By Progress"
        ><div class="card-container">
          <div class="card-row">
            <div class="cards">
              <app-card
                *ngFor="let card of obs | async"
                [cardTitle]="card.title"
                [CardSubtitle]="card.subtitle"
              ></app-card>
            </div>
          </div>
          <mat-paginator pageSize="6" showFirstLastButtons></mat-paginator></div
      ></mat-tab>
      <mat-tab label="Completed Progress"
        ><div class="card-container">
          <div class="card-row">
            <div class="cards">
              <app-card
                *ngFor="let card of obs | async"
                [cardTitle]="card.title"
                [CardSubtitle]="card.subtitle"
              ></app-card>
            </div>
          </div>
          <mat-paginator
            pageSize="10"
            showFirstLastButtons
          ></mat-paginator></div
      ></mat-tab>
    </mat-tab-group>
  </div>
</div>
